.map-container {
    height: 500px; /* Ensure the map has enough height */
    width: 100%;   /* Full width */
  }
  
  .leaflet-container {
    height: 100%;
    width: 100%;
  }
  

  .parent-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
  }
  
  
  .popup-card {
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
  }
  
  .popup-card h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
  }
  
  .popup-card p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }
  
  .popup-card strong {
    color: #222;
  }
  